@model IEnumerable<MvcSkoki.Models.Konkurs>

@{
    ViewData["Title"] = "Index";
}

<h1>Konkursy</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sezon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skocznia.Miejscowosc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sezon.Rok)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skocznia.Miejscowosc), @Html.DisplayFor(modelItem => item.Skocznia.Panstwo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <th>
                <a class="nav-link text-dark" asp-area="" asp-controller="Konkurs" asp-action="Ranking" asp-route-id="@item.Id">Zobacz wyniki</a>
            </th>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
